@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel Hilton's Movie Collection</h1>
</div>
<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel headshot" />
</div>

